/*body { 
    font-family: Arial, sans-serif; 
}
.cart-container { 
    width: 80%; 
    margin: auto;
}
.cart-item { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; padding: 10px; 
    border-bottom: 1px solid #ddd; 
}
.cart-item img { 
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    margin-right: 10px; 
}
.total { 
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 20px; 
}
.remove-btn { 
    background-color: red; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
}
.remove-btn:hover { 
    background-color: darkred;
}
#checout-btn { 
    padding: 10px 20px; 
    background-color: #388E3C;
    color: white; 
    border: none; 
    cursor: pointer; 
}*/